* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial;
}

body {
    background: #f3f3f5;
}

.page {
    padding: 60px;
    display: grid;
    min-width: fit-content;
    min-height: 100vh;
}

.content {
    display: grid;
    place-items: center;
}

.form {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.form_horizontal {
    width: 1000px;
}

.form__title {
    text-align: center;
    font-size: 30px;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.field__input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.field__label {
    margin-top: 10px;
}

.field__error {
    font-size: 16px;
    color: darkred;
    margin-left: 3px;
    margin-top: 3px;
}

.form__horizontal-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.form__button-group {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}

.button {
    display: block;
    border: none;
    outline: none;
    background: #24a0ed;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    text-decoration: none;
}

.button_light {
    color: #24a0ed;
    background: none;
}

.button_light:hover {
    background: none !important;
    outline: none;
    text-decoration: underline;
    color: #24a0ed;
}

.button:hover {
    text-decoration: none;
    background: #1d86c7;
    color: white;
}

.button:focus {
    background: #1b78b3;
}

.user-list {
    background: white;
    overflow-x: scroll;
    min-width: 1000px;
    border-collapse: collapse;
}

.user-list * {
    font-size: 14px;
}

.user-list th {
    background: #eee;
}

.user-row td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 3px 10px;
}

.new-user-button {
    margin: 30px;
}

nav {
    margin: 0 auto;
    margin-top: 60px;
    width: fit-content;
}
